@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CalendarViewModel

@{
}

@if (Model != null)
{

<div class="header">
  <h4>Upcoming Events</h4>

  <hr />
</div>

<div class="filters">
  <hr />

  <strong class="text-center">Filter Calendars</strong>

  <div class="row">
    @foreach (var calendar in Model.calendars)
    {
      if (!calendar.Summary.Equals("Pack", StringComparison.OrdinalIgnoreCase))
      {
        <span class="calendarCheckbox col-6 col-sm-4 col-md-3 col-lg-2 col-xl">
          <input id="@calendar.Summary.Replace(" ", "")" name="@calendar.Summary.Replace(" ", "")" value="@calendar.Summary" type="checkbox" checked="checked" aria-label="Checkbox for @calendar.Summary">
          <label for="@calendar.Summary.Replace(" ", "")" class="@calendar.Summary.Replace(" ", "")">@calendar.Summary</label>
        </span>
      }
    }
  </div>

  <hr />
</div>

  foreach (var calendarEvent in Model.calendarEvents)
  {
    <div class="calendarEvent d-flex @calendarEvent.Calendar.Replace(" ", "")">
      <div class="eventDate text-center float-left align-content-center">
        <span class="month w-100 float-left">@calendarEvent.Start.ToString("MMM")</span>
        <span class="day">@calendarEvent.Start.ToString("dd")</span>
      </div>
      <div class="eventDescription">
        @if (!String.IsNullOrEmpty(calendarEvent.Description))
        {
          <span class="summary details">
            @calendarEvent.Summary
            <div class="d-none description">
              <span>@Html.Raw(calendarEvent.Description)</span>
            </div>
          </span>
        }
        else
        {
          <span class="summary">@calendarEvent.Summary</span>
        }
        <span class="time d-flex">@calendarEvent.Start.ToString("h:mm")@(calendarEvent.End != null ? " - " + @calendarEvent.End.ToString("h:mm") : "")</span>
        <a href="@calendarEvent.MapUrl" target="_blank" rel="noopener">
          <span class="location short float-left">@calendarEvent.ShortLocation</span>
          <span class="location float-left">@calendarEvent.Location</span>
        </a>
      </div>
      <span class="calendar @calendarEvent.EventColor" tooltip="@calendarEvent.Calendar"></span>
    </div>
  }
}

<div class="sync">
  <hr />

  <strong class="text-center">Sync Calendars</strong>
  <div class="row">
    @foreach (var calendar in Model.calendars)
    {
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl">
        <span class="calendarSync" onclick="void (0);">
          @calendar.Summary
          <div class="d-none syncBox">
            <a href="@calendar.ShareUrl" target="_blank" rel="noopener" class="d-flex">Google Calendar</a>
            <a href="@calendar.ShareUrlIcs" target="_blank" rel="noopener" class="d-flex">iCal ICS Format</a>
            <a href="@calendar.ShareUrlEmbed" target="_blank" rel="noopener" class="d-flex">Web View</a>
          </div>
        </span>
      </div>
    }
  </div>
</div>

<script type="text/javascript">
  WireCalendarEvents();

  if ($(".filters").css("display") === "none") {
    ShowPackEvents();
  }
</script>