@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model DocumentViewModel

@{
}

@if (Model != null)
{
  <ol class="breadcrumb">
    @for (int i = 0; i < Model.breadcrumbs.Count; i++)
    {
      if (i == Model.breadcrumbs.Count - 1)
      {
        <li class="active">@Model.breadcrumbs[i].Item2</li>
      }
      else
      {
        <li><a href="@Model.breadcrumbs[i].Item1">@Model.breadcrumbs[i].Item2</a></li>
      }
    }
  </ol>

  <div class="row align-items-end">
    @foreach (var document in Model.folders)
    {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
        <a href="/Documents/@document.Id"><span><img src="@document.IconLink" />@document.Name</span></a>
      </div>
    }
  </div>

  <div class="row align-items-end">
    @foreach (var document in Model.documents)
    {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex mx-auto justify-content-center">
        <a href="@document.WebViewLink">
          <figure>
            <img src="@document.ThumbnailLink" />
            <figcaption>
              <span><img src="@document.IconLink" />@document.Name</span>
            </figcaption>
          </figure>
        </a>
      </div>
    }
  </div>
}