@{
  ViewData["Title"] = "Leaders";
}

@model List<Leader>

<h2>@ViewData["Title"]</h2>

<hr />

@{string prevGroup = String.Empty; }

@for (int i = 0; i < Model.Count; i++)
{
  @if (!Model[i].Group.Equals(prevGroup))
  {
    if (!String.IsNullOrEmpty(prevGroup))
    {
      @:</div>

      <br /><br /><br />
    }

    @:<div class="leaders">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">@Model[i].Group</div>
  </div>

  prevGroup = Model[i].Group;
}

  <div class="row">
    <div class="col-6 col-sm-5 col-md-3">@Model[i].Position</div>
    @if (String.IsNullOrEmpty(Model[i].Name))
    {
      <div class="col-6 col-sm-5 col-md-3 open">We Need You!</div>
    }
    else
    {
      <div class="col-6 col-sm-4 col-md-3">
        <span class="name">
          @Model[i].Name
          <div class="d-none contactBox">
            <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:@Model[i].Phone">@Model[i].Phone</a></span>
            <span class="mail"><i class="fas fa-envelope" aria-hidden="true"></i><a href="mailto:@Model[i].EMail">@Model[i].EMail</a></span>
          </div>
        </span>
      </div>
    }
    <div class="d-none d-sm-block col-sm-3 col-md-2"><a href="tel:@Model[i].Phone">@Model[i].Phone</a></div>
    <div class="d-none d-md-block col-md-4"><a href="mailto:@Model[i].EMail">@Model[i].EMail</a></div>
  </div>
}

<br /><br /><br />
