<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cub Scout Pack 239 - Lake Geneva, WI - @ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <link rel="canonical" href="@ViewData["CurrentUrl"]" />

    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="https://www.pack239lakegeneva.org/images/BSA/Logos/CubScout_SMI_Stacked_800x410.png" />
    <meta property="og:site_name" content="Cub Scout Pack 239 - Lake Geneva, WI" />
    <meta property="og:title" content="Cub Scout Pack 239 - Lake Geneva, WI - @ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewData["CurrentUrl"]" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@ViewData["Description"]" />
    <meta name="twitter:image" content="https://www.pack239lakegeneva.org/images/BSA/Logos/CubScout_SMI_Stacked_800x410.png" />
    <meta name="twitter:site" content="Cub Scout Pack 239 - Lake Geneva, WI" />
    <meta name="twitter:title" content="Cub Scout Pack 239 - Lake Geneva, WI - @ViewData["Title"]" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#003F87">
    <meta name="theme-color" content="#003F87">

    <environment include="Development">
      <link rel="stylesheet" href="~/lib/css/bootstrap/bootstrap.css" asp-append-version="true" />
      <link rel="stylesheet" href="~/css/site-320.css" asp-append-version="true" />
      <link rel="stylesheet" href="~/css/site-576.css" asp-append-version="true" media="screen and (min-width: 576px)" />
      <link rel="stylesheet" href="~/css/site-768.css" asp-append-version="true" media="screen and (min-width: 768px)" />
      <link rel="stylesheet" href="~/css/site-992.css" asp-append-version="true" media="screen and (min-width: 992px)" />

      <script defer src="~/js/fontawesome/fontawesome-all.js" asp-append-version="true"></script>
      <script async src="https://cse.google.com/cse.js?cx=011808698875197557344:utxixcu6ama"></script>
    </environment>
    <environment exclude="Development">
      <link rel="stylesheet" href="~/lib/css/bootstrap/bootstrap.min.css" asp-append-version="true" />
      <link rel="stylesheet" href="~/css/site-320.min.css" asp-append-version="true" />
      <link rel="stylesheet" href="~/css/site-576.min.css" asp-append-version="true" media="screen and (min-width: 576px)" />
      <link rel="stylesheet" href="~/css/site-768.min.css" asp-append-version="true" media="screen and (min-width: 768px)" />
      <link rel="stylesheet" href="~/css/site-992.min.css" asp-append-version="true" media="screen and (min-width: 992px)" />

      <script defer src="~/lib/js/fontawesome/fontawesome-all.min.js" asp-append-version="true"></script>
      <script async src="https://cse.google.com/cse.js?cx=011808698875197557344:utxixcu6ama"></script>

      <!--
  To collect user behavior analytics about your application,
  insert the following script into each page you want to track.
  Place this code immediately before the closing </head> tag,
  and before any other scripts. Your first data will appear
  automatically in just a few seconds.
  -->
      <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
          function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
          instrumentationKey: "3fa63fa8-19b7-4920-858a-58ad29d221ae"
        });
        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
      </script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125089495-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-125089495-1');
      </script>
    </environment>
  </head>
  <body class="d-flex flex-column">
    @await Html.PartialAsync("Components/Header/Default")
    <!--div class="partialContents" data-url="Components/Header"></div-->

    <section class="body-content flex-grow-1">
      <div class="container">
        @RenderBody()
      </div>
    </section>

    @await Html.PartialAsync("Components/Footer/Default")
    <!--div class="partialContents" data-url="Components/Footer"></div-->

    <environment include="Development">
      <script src="~/lib/js/jquery/jquery.js" asp-append-version="true"></script>
      <script src="~/lib/js/bootstrap/bootstrap.bundle.js" asp-append-version="true"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
      <script src="~/lib/js/jquery/jquery.min.js" asp-append-version="true"></script>
      <script src="~/lib/js/bootstrap/bootstrap.bundle.min.js" asp-append-version="true"></script>
      <script src="~/js/site.es5.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
  </body>
</html>